/* Loginform.css */
.login-form {
    max-width: 400px; /* Adjust the max-width according to your preference */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-right: 50px;
  margin-top: -200px;

  }
  
  label {
    display: block;
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .password-input {
    position: relative;
  }
  
  span {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .forgot-password {
    font-size: 14px;
    color: #3498db;
    text-align: right;
    margin-top: 5px;
  }
  
  .signin-button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signin-button:hover {
    background-color: #2980b9;
  }
  